// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//dart-sass/sass resources/sass/app.scss resources/css/app.css --watch
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");
:root {
    //typography
    --maincolor: #002a39;
    --primfontfamily: "Raleway", sans-serif;
    --primeweight: 300;
    --primefontsize: 20px;
    --secondfontfamily: "Shadows Into Light Two", cursive;
    --colorlink: rgb(35, 115, 180);
    --sizelink: 25px;
    --weightlink: 700;
    --secondaryfontsize: 25px;

    //backgroundcolor
    //premier echantillons couleur
    //--primebackground: rgb(86, 129, 223);
    //--secondbackground: rgb(30, 198, 210);
    //--thirdbackground: rgb(250, 89, 40);
    //--fourthbackground: rgb(135, 222, 181);
    //--fifthbackground: rgb(75, 107, 155);
    //second echantillons couleur
    --encartbackground: #1d485180;
    --thirdbackground: #ffb338;
    --secondbackground: #fd8a47;

    --fifthbackground: #c99365;
    //--fifthbackground: #d5ad8f;
    --fifthbackground2: #ffc395;
    --fifthbackground3: #d3c2b4;
    --primebackground: #389dd8;
    --primebackground2: #55afe2;
    --primebackground3: #54bbf7;
    //0879ad
    //--fourthbackground: #b1d8bb;
    --fourthbackground: #88c4a1;
    --fourthbackground2: #e9f4ec;
    --fourthbackground3: #edfcda;
    --fullspan : #b13e3e;
    --orangespan : #fd8a47;
    --yellowspan:#ffb338;
    //second echantillons couleur
    //--encartbackground: #1d485180;
    //--primebackground: #f9e5ad;
    //--secondbackground: #3f7fa1;
    //--thirdbackground: #bc6a6c;
    //--fourthbackground: #c7a18c;
    //--fifthbackground: #76a08d;
}

//typo classes
.firstfontfamilly {
    font-family: var(--primfontfamily);
    font-weight: var(--primeweight);
}

.secondfontfamilly {
    font-family: var(--secondfontfamily);
}
.space_around{
    display: flex;
    justify-content: space-around;
}
#tableaudebord{
    margin: 20px 0 0 30px;
    color: white;
    width: 200px;
    font-family: var(--primfontfamily);
    font-size: 20px;
    border-radius: 20px;
    padding: 10px 15px;
    border: none;
    background-color: var(--primebackground);

}

.black {
    color: black;
}

.white {
    color: white;
}

.relative {
    position: relative;
}
.logoFB {
    width: 50px;
    height: 50px;
}

.inscription {
    position: absolute;
    border: 0px;
    top: 0;
    right: 250px;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    background-color: var(--thirdbackground);
    font-size: 20px;
    font-family: var(--primfontfamily);
    font-size: var(--sizelink);
    font-weight: var(--primeweight);
    color: white;
}

.status {
    position: absolute;
    top: 650px;
    right: 250px;
    width: 350px;
    height: 40px;
    border-radius: 15px;
    background-color: var(--thirdbackground);
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    a {
        text-decoration: none;
        font-family: var(--primfontfamily);
        font-size: var(--sizelink);
        font-weight: var(--primeweight);
        color: white;
    }
}

//backgroundcolor classes
//.encart {
//    background-color: var(--encartbackground);
//}
.primebackground {
    background-color: var(--primebackground);
}

.primebackground2 {
    background-color: var(--primebackground2);
}

.primebackground3 {
    background-color: var(--primebackground3);
}

.secondbackground {
    background-color: var(--secondbackground);
}

.thirdbackground {
    background-color: var(--thirdbackground);
}

.fourthbackground {
    background-color: var(--fourthbackground);
}

.fourthbackground2 {
    background-color: var(--fourthbackground2);
}

.fourthbackground3 {
    background-color: var(--fourthbackground3);
}

.fifthbackground {
    background-color: var(--fifthbackground);
}

.fifthbackground2 {
    background-color: var(--fifthbackground2);
}

.fifthbackground3 {
    background-color: var(--fifthbackground3);
}

.backgroundwhite {
    background-color: white;
}

//border title
.border {
    border: solid 1px var(--maincolor);
    border-radius: 80px;
}

//position absolute
.coin_produits {
    width: 10%;
    height: 30%;
}

.coin_defi {
    width: 10%;
    height: 30%;
}

.absright {
    position: absolute;
    right: 0;
    bottom: 0;
}

.absleft {
    position: absolute;
    left: 0;
    top: 0;
}

.width_90 {
    width: 90%;
}

.flexrow {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.alignitems {
    justify-content: space-around;
    align-items: center;
}

body {
    position: relative;
    background: rgba(255, 228, 196, 0);
    padding: 0;
    margin: 0;
}

.header {
    font-family: var(--primfontfamily);
    font-weight: var(--primeweight);
    background-color: rgba(210, 105, 30, 0);
    display: flex;
    background-image: url("../../public/images/header.png");
    background-repeat: no-repeat;
    height: 290px;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    position: relative;
}
.connexion {
    position: absolute;
    border: 0px;
    bottom: 0;
    right: 250px;
    height: 40px;
    border-radius: 15px;
    background-color: var(--maincolor);
    font-size: 20px;
    font-family: var(--primfontfamily);
    font-size: var(--sizelink);
    font-weight: var(--primeweight);
    color: white;
}

#logo {
    cursor: pointer;
    height: 100%;
    width: auto;
    border-radius: 50%;
}

.logins{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    color: white;
    text-decoration: none;
    a{
        color: white !important;
        text-decoration: none;
        font-size: 25px;
        margin-right: 20px;
    }
}
.logins_index{
    width: 96%;
    display: flex;
    justify-content: flex-end;
    color: white;
    font-weight: 600;
    text-decoration: none;
    .logs{
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 42, 57, 0.55);
        color: white;
        font-family: var(--primfontfamily);
        font-size: 25px;
        font-weight: 600;
        padding: 5px 10px;
        border-radius: 10px;
    }
    a{
        color: white !important;
        text-decoration: none;
        font-size: 25px;

    }
}

.logo {
    margin-right: 30px;
}
//burger
#burger {
    visibility: hidden;
}
#burgerlabel {
    visibility: hidden;
    position: absolute;
    top: 80px;
    right: 100px;
    height: 40px;
    width: 30px;
    z-index: 5;
    span {
        position: absolute;
        width: 100%;
        height: 2px;
        top: 50%;
        margin-top: -1px;
        left: 0;
        display: block;
        background: white;
        transition: 0.5s;
    }
    span:first-child {
        top: 4px;
    }
    span:last-child {
        top: 12px;
    }
}
#burgerlabel:hover {
    cursor: pointer;
}
input:checked + #burgerlabel {
    span {
        background: rgb(255, 255, 255);
        opacity: 0;
        top: 50%;
    }
    span:first-child {
        opacity: 1;
        transform: rotate(405deg);
    }
    span:last-child {
        opacity: 1;
        transform: rotate(-405deg);
    }
}
input ~ nav {
    position: absolute;

    top: -600px;
    right: 0;
    width: 250px;
    height: 100px;
    z-index: 3;
    //transition: 0.5s;
    transition-delay: 0.5s;

    > ul {
        position: absolute;
        padding-left: 0;
        top: 70px;
        width: 300px;
        right: 40px;
        > li {
            opacity: 0;
            //transition: 0.3s;
            //transition-delay: 0s;
            > a {
                text-decoration: none;
                display: block;
                padding: 15px 30px;
            }
        }
    }
}
input:checked ~ nav {
    height: 350px;
    transition-delay: 0s;

    > ul {
        box-shadow: 0 0 10px rgba(128, 128, 128, 0.555);
        background: rgb(255, 255, 255);
        border-radius: 0.2rem;
        padding: 10px;
        width: 100%;
        > li {
            border-radius: 0.2rem;
            list-style-type: none;

            a {
                color: var(--maincolor);
                font-size: 15px;
                text-decoration: none;
                cursor: pointer;
                font-weight: 400;
                font-family: var(--primfontfamily);
            }
            opacity: 1;
            //transition-delay: 0.1s;
        }
    }
}

.menu {
    background-color: rgba(95, 158, 160, 0);
    width: 80%;
    max-width: 1527px;
    height: 100%;
}

.maintitle {
    display: flex;
    height: 40%;
    width: 90%;
    justify-content: flex-end;
    margin-left: 10px;
    h1 {
        font-family: var(--secondfontfamily);
        color: white;
        font-size: 70px;
    }
}
.maintitlealter {
    visibility: hidden;
    margin-top: -145px;
    display: flex;
    height: 40%;
    width: 90%;
    justify-content: start;
    h1 {
        font-family: var(--secondfontfamily);
        color: white;
        font-size: 50px;
    }
}
.nav {
    height: 40%;
    width: 90%;
    background-color: rgba(100, 148, 237, 0);
    display: flex;
    justify-content: center;
    padding: 0;
    .navlinks {
        height: 100%;
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li {
            justify-content: center;
            a {
                color: white;
                font-size: 25px;
                text-decoration: none;
                cursor: pointer;
            }
        }
        .nav__listitemdrop {
            li {
                a {
                    color: var(--maincolor);
                    font-size: 15px;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
    .category {
        list-style: none;
    }
    li {
        list-style: none;
    }
}

.underline:after {
    background: none repeat scroll 0 0 transparent;
    margin-top: 5px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.underline:hover:after {
    width: 100%;
    left: 0;
}

.title {
    width: 95%;
    color: rgb(255, 255, 255);
    display: flex;
    //margin-top: 10px;
    height: 15%;
    background-color: rgba(255, 255, 255, 0);
    align-items: center;
    justify-content: space-between;
    .logs {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 42, 57, 0.55);
        color: white;
        font-family: var(--primfontfamily);
        font-size: 25px;
        font-weight: 600;
        padding: 5px 10px;
        border-radius: 10px;
        a {
            text-decoration: none;
            color: white;
            padding: 0;
            margin: 0;
        }
        p{
            padding: 0;
            margin: 0;
        }
    }

    h1{

        font-size: 30px;
        font-weight: 400;
        margin-left: 20px;
    }
}

.subcat {
    color: var(--maincolor);
}

.nav {
    &__list {
        &item {
            position: relative;
            &drop .drop1 {
                font-size: 14px;
                font-weight: 600;
            }
            &:hover .nav__listitemdrop,
            &:focus .nav__listitemdrop {
                opacity: 1;
                visibility: visible;
            }
            &drop {
                color: var(--maincolor);
                top: 30px;
                left: -34px;
                position: absolute;
                box-shadow: 0 0 10px rgba(128, 128, 128, 0.555);
                background-color: rgb(255, 255, 255);
                border-radius: 0.2rem;
                display: flex;
                flex-direction: column;
                opacity: 0;
                visibility: hidden;
                transition: opacity 200ms ease-in-out;
                padding: 10px;
                margin-left: 33px;

                li {
                    border-radius: 0.2rem;
                    transition: background-color 200ms ease-in-out;
                    padding: 0.5rem 1rem;
                }
            }
        }
    }
}
.back1:hover,
.back1:focus {
    background-color: var(--primebackground);
}
.back2:hover,
.back2:focus {
    background-color: var(--secondbackground);
}
.back3:hover,
.back3:focus {
    background-color: var(--thirdbackground);
}
.back4:hover,
.back4:focus {
    background-color: var(--fourthbackground);
}
.back5:hover,
.back5:focus {
    background-color: var(--fifthbackground);
}
.back6:hover,
.back6:focus {
    background-color: rgba(194, 194, 194, 0.568);
}

// @media (max-width: 1550px) {
//     a {
//         font-size: 22px;
//     }
// }
// @media (max-width: 1420px) {
//     a {
//         font-size: 20px;
//     }
// }
// .nav {
//     min-width: 500px;
// }
// @media (max-width: 1260px) {
//     a {
//         font-size: 18px;
//     }
// }

.inscription_container {
    width: 900px;
    height: 500px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 80px;
    box-shadow: 5px 4px 13px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    transform: scale(0);

    button {
        background-color: cadetblue;
        width: 200px;
        height: 60px;
        border-radius: 30px;
        border: none;
        margin: 0 auto;
    }

    .separator {
        width: 1px;
        height: 80%;
        background-color: black;
        margin: auto 0;
    }

    input::placeholder {
        color: white;
    }

    .column_left {
        height: 70%;
        width: 50%;
        padding: 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }

    .column_right {
        position: relative;
        height: 80%;
        width: 50%;
        padding: 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;

        i {
            position: absolute;
            top: 30px;
            right: 40px;
        }
    }
}

.accueilsetup {
    max-width: 1920px;
    margin: 0 auto;
    .drawmenu {
        font-family: var(--primfontfamily);
        text-align: center;
        min-height: 500px;
        display: flex;
        justify-content: space-around;
        .actudraw,
        .astucesdraw,
        .contactdraw {
            align-self: flex-end;
        }
        .actudraw {
            margin-right: 20px;
        }
    }

    .ledefidraw_button {
        display: flex;
        flex-direction: column;
    }

    .logonav {
        width: auto;
        height: 300px;
    }
    .slogan {
        background-color: var(--primebackground);
        width: 100%;
        text-align: center;
        .slogancontent {
            padding: 2%;
        }
        h2 {
            font-family: var(--primfontfamily);
            color: white;
            font-size: 40px;
        }
        p {
            margin-top: 2%;
            font-size: 25px;
        }
        .towns {
            font-family: var(--secondfontfamily);
            color: black;
            margin-top: 30px;
        }
    }
}
.indexinscription {
    //position: absolute;
    border: 0px;
    //bottom: 50px;
    //right: 40px;
    margin-top: 10px;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    background-color: var(--fifthbackground);
    font-size: 20px;
    font-family: var(--primfontfamily);
    font-size: var(--sizelink);
    font-weight: var(--primeweight);
    color: white;
}

//footer
.footer {
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.paimpol {
    width: auto;
    height: 40%;
}

.biocoop {
    width: auto;
    height: 40%;
}

.gpa {
    width: auto;
    height: 40%;
}

.lechato {
    width: auto;
    height: 40%;
}
.coherence {
    width: auto;
    height: 60%;
}

// actu
.actucontent {
    max-width: 1920px;
    margin: 0 auto;
    font-family: var(--primfontfamily);
    font-weight: var(--primeweight);
}

.actusection {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    transition-duration: 1s;

    p {
        font-size: 20px;
    }
    li {
        font-size: 20px;
    }
    a {
        color: var(--maincolor);
        font-size: 22px;
    }
}

.article {
    background-color: white;
    width: 80%;
    height: 80%;
    border-radius: 70px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 1s;
}

.flexend {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 10%;
}

.date {
    p {
        font-size: 25px;
        font-family: var(--secondfontfamily);
        margin-right: 10%;
        margin-top: 50px;
    }
}

.pageactucontent {
    width: 100%;
    height: 77%;
    background-color: rgba(153, 205, 50, 0);
    display: flex;

    .pict {
        background-color: rgba(255, 255, 255, 0);
        height: 100%;
        width: 22%;
        min-width: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
        .articleimg {
            width: 80%;
            height: 90%;
            max-height: 210px;
            max-width: 204px;
            border-radius: 40px;
            background-position: top;
        }
    }
    .articlecontent {
        margin-top: 2%;
        height: 70%;
        width: 70%;
        background-color: rgba(55, 255, 155, 0);
        overflow: hidden;
        padding-bottom: 5px;
        padding-right: 2%;
    }

    h2 {
        font-size: 25px;
    }
    .subtitleactucontent {
        margin-top: 30px;
        text-align: justify;
        font-size: 22px;
    }

    .contenuactu {
        text-align: justify;
        visibility: hidden;
        transition-duration: 0.8s;
        img {
            margin-top: 50px;
            height: 500px;
        }
    }
    .visible {
        visibility: visible;
    }
    .vert {
        color: #65cea8;
    }
}

.seemore {
    p {
        font-family: var(--secondfontfamily);
        margin-right: 30px;
    }
    .arrow {
        margin-bottom: 15px;
        width: 30px;
        height: 30px;
        border-right: solid 1px black;
        border-bottom: solid 1px black;
        transform: rotate(45deg);
        margin-right: 100px;
        transition-duration: 1s;
    }
    .rotate {
        transform: rotate(225deg) translateX(120px) translateY(-130px);
        transition-duration: 1s;
    }
}

//astuces
.astucontent {
    max-width: 1920px;
    margin: 0 auto;
}

.introastuce {
    font-family: var(--primfontfamily);
    font-weight: var(--primeweight);
    font-size: var(--secondaryfontsize);
    background-color: rgba(222, 184, 135, 0);
    //height: 350px;
    padding: 5% 5%;
}

.astusection {
    font-family: var(--primfontfamily);
    font-weight: var(--primeweight);
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.astuces {
    background-color: white;
    width: 90%;
    height: 75%;
    border-radius: 80px;
    display: flex;
    // flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cinqr {
    background-image: url(../../public/images/cinqrzerodechet.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.map {
    width: 50%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0);
    background-image: url(../../public/images/cartebrehat.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.titrecarte {
    width: 50%;
    height: 100%;
    background-color: rgba(255, 105, 180, 0);
    font-size: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pr20 {
    padding-right: 3%;
    padding-top: 3%;
}

.maison {
    background-image: url(../../public/images/maison.jpeg);
}

.bande {
    margin-top: 100px;
    height: 100px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.582);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;

    H2 {
        font-size: 35px;
        padding: 0;
        margin: 0;
        //margin-top: 30px;
        font-weight: 500;
    }
}

.menage {
    background-image: url(../../public/images/produitmenagers.jpeg);
}

.plusloin {
    background-image: url(../../public/images/bibliotheque.png);
}

//le defi
.textcapitain {
    text-align: end;
    font-family: var(--secondfontfamily);
    font-size: var(--secondaryfontsize);
}

.deficontent {
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: var(--primfontfamily);
    .leftside {
        width: 50%;
        padding-top: 5%;
        padding-left: 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .textdefi {
        width: 80%;
        text-align: justify;
        padding: 5%;
        font-size: var(--primefontsize);
        span {
            font-weight: var(--weightlink);
            font-size: var(--sizelink);
        }
        a {
            font-weight: var(--weightlink);
            font-size: var(--sizelink);
            color: var(--colorlink);
        }
    }
    .rightsidedefi {
        min-width: 600px;
        width: 46%;
        padding-left: 2%;
        padding-top: 5%;
    }
}

.enbrefdefi {
    font-family: var(--secondfontfamily);
    text-align: justify;
    padding: 5% 4% 4% 5%;
    margin: 0 auto;
    font-size: 20px;
}

.calsimple {
    width: 80%;
    height: auto;
    bottom: 0;
}

.contentquisommes {
    max-width: 1920px;
    margin: 0 auto;
    font-family: var(--primfontfamily);
    font-weight: var(--primeweight);
    text-align: justify;
    font-size: 20px;
    padding: 5%;
    padding-bottom: 2%;
}

.colibri {
    display: flex;
    flex-direction: row;
    text-align: justify;
    margin-top: 40px;
    .imgcolibri {
        margin-left: 50px;
        width: 20%;
        min-width: 200px;
        height: 20%;
        min-height: 200px;
    }
    .explicolibri {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        font-size: 22px;
        font-family: var(--secondfontfamily);
        padding: 3% 9% 3% 9%;
        .textend {
            text-align: end;
        }
    }
}

.merciquisommes {
    padding: 0 5% 5% 5%;
    text-align: justify;
}

// rappel zero dechet
.mt100 {
    margin-top: 100px;
}

// .paddingLR10 {
//     padding-left: 10%;
//     padding-right: 10%;
// }
.rappelcontent > div {
    padding: 0 10%;
}

#secondfont {
    font-family: var(--secondfontfamily);
    font-size: 25px;
}

.rappelcontent {
    max-width: 1920px;
    margin: 0 auto;
    color: var(--maincolor);
    .rappeltextpart1 {
        h3 {
            font-family: var(--secondfontfamily);
            font-size: 60px;
            text-align: center;
        }
        .soustitre {
            text-align: center;
            font-size: 35px;
            font-family: var(--primfontfamily);
            font-weight: var(--primeweight);
            span {
                font-size: 50px;
                white-space: nowrap;
            }
        }
    }
    .genially {
        padding: 0;
        margin-bottom: 50px;
    }
    .style5r {
        p {
            margin: 0 4%;
            text-align: justify;
            font-size: var(--primefontsize);
            font-family: var(--primfontfamily);
            font-weight: var(--primeweight);
        }
        span {
            font-weight: bold;
            font-size: var(--sizelink);
        }
        div {
            justify-content: flex-start;
            padding: 2% 1%;
            margin-bottom: 20px;
            border-radius: 20px;
        }
        .bluegrad1 {
            background-image: linear-gradient(
                to left,
                var(--primebackground),
                white
            );
        }
    }
    .list3pts {
        margin-top: 70px;
        padding: 2% 15%;
    }
    .listcontent {
        margin-left: 15%;
        padding: 4% 2% 0% 2%;
        text-align: justify;
        font-size: var(--primefontsize);
        font-family: var(--primfontfamily);
        font-weight: var(--primeweight);
        li {
            margin-bottom: 30px;
        }
        // ul{
        //     margin-top: -40px;
        //
        // }
    }
    p {
        color: var(--maincolor);
        a {
            text-decoration: none;
            color: var(--colorlink);
            font-size: var(--sizelink);
        }
    }
    .lastpartrappel {
        margin-top: 3%;
        margin-bottom: 5%;
        padding: 3% 15%;
        font-family: var(--primfontfamily);
        font-size: var(--primefontsize);
        font-weight: var(--primeweight);
        color: var(--maincolor);
        text-align: justify;
        span {
            font-size: var(--secondaryfontsize);
            color: white;
        }
        a {
            color: white;
            text-decoration: underline;
        }
    }
}

.center {
    display: block;
    margin: 0 auto;
}

.youtube {
    width: 70%;
    height: 700px;
}

.poubelle {
    width: 40%;
    height: auto;
}

.border {
    border: solid 1px var(--maincolor);
}

//carte commercants
.cartecontent {
    font-size: var(--primefontsize);
    font-family: var(--primfontfamily);
    font-weight: var(--primeweight);
    max-width: 1920px;
    padding: 4% 15%;
    margin: 0 auto 50px auto;
    text-align: justify;
    background-color: var(--secondbackground);
}

.titlecommercants {
    h3 {
        font-family: var(--secondfontfamily);
        font-size: 40px;
        text-align: center;
    }
}

.carte {
    width: 70%;
    height: 600px;
    display: block;
    margin: 0 auto;
    p {
        text-align: center;
        a {
            text-decoration: none;
            font-family: var(--primfontfamily);
            font-weight: bold;
            color: var(--colorlink);
            font-size: var(--sizelink);
        }
    }
}

//produits menagers
.pagesetup {
    font-size: var(--primefontsize);
    font-family: var(--primfontfamily);
    font-weight: var(--primeweight);
    max-width: 1920px;
    padding: 5% 0%;
    margin: 0 auto;
    text-align: justify;
    color: var(--maincolor);
    a {
        font-weight: var(--weightlink);
        font-size: var(--sizelink);
        color: var(--colorlink);
    }
    h3 {
        text-align: center;
        font-family: var(--primfontfamily);
    }
}

.inl_blk {
    display: inline-block;
}
.produitcontent {
    font-family: var(--primfontfamily);
    font-size: 20px;
}
.icon_produits {
    width: 150px;
    height: 150px;
}

.topofpage_produits {
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    .atelier_en_lien {
        ul {
            color: white;
            list-style-image: url("../../public/images/flecherouge.png");
        }
        background-color: var(--fourthbackground);
        padding: 7% 10%;
        border-radius: 80px;

        h3 {
            color: white;
            font-size: 35px;
            padding: 0;
            margin-top: 0;
            text-align: center;
        }
    }
}

.intro_produits {
    width: 40%;
    padding: 2% 5%;
    font-family: var(--primfontfamily);
    font-size: var(--sizelink);
    text-align: center;
}

.centertext {
    position: absolute;
    width: 60%;
}

.midpage_produits {
    padding: 2% 5%;
    background-color: var(--fourthbackground);
    h3 {
        color: white;
        font-size: 40px;
    }
    p {
        color: white;
        text-align: justify;
    }
    a {
        color: var(--primebackground);
        font-size: var(--sizelink);
        text-decoration: none;
    }
}

.containertawashi {
    width: 80%;
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    .texttawashi {
        width: 50%;
        padding: 4% 5%;
    }
    .tawashidraw {
        img {
            height: 50%;
        }
    }
}

.bottompage_produits {
    padding: 4% 15%;
    h3 {
        font-size: 50px;
        //color: var(--fourthbackground);
    }
    div {
        padding: 2%;
        margin-bottom: 20px;
        border-radius: 20px;
    }
    p {
        padding: 1% 4%;
    }
    a {
        color: var(--primebackground);
        text-decoration: none;
        font-size: var(--sizelink);
    }
}

.greengrad1 {
    background-image: linear-gradient(to left, var(--fourthbackground), white);
}

.greengrad2 {
    background-image: linear-gradient(
        to right,
        var(--fourthbackground2),
        white
    );
}

.greengrad3 {
    background-image: linear-gradient(to left, var(--fourthbackground3), white);
}

.greengrad1b {
    background-image: linear-gradient(to right, var(--fourthbackground), white);
}

.greengrad2b {
    background-image: linear-gradient(to left, var(--fourthbackground2), white);
}

.encart {
    display: block;
    margin: 0 auto;
    font-family: var(--secondfontfamily);
    font-size: var(--sizelink);
    padding: 6%;
    width: 80%;
    height: auto;
    a {
        color: var(--colorlink);
    }
}

.underpic {
    position: absolute;
    border-bottom: solid 2px var(--maincolor);
    bottom: 0;
    left: 33%;
    width: 30%;
    height: 30%;
}

.connaissezvous {
    text-align: center;
}

.absbot {
    position: absolute;
    bottom: 0;
}

//biblio sito
.pagesetup {
    h3 {
        text-align: center;
        font-family: var(--secondfontfamily);
        font-size: 40px;
    }
    a {
        color: var(--colorlink);
    }
}

.bibliocontent {
    padding: 0 8%;
    div {
        padding: 3% 10%;
        margin-bottom: 30px;
        border-radius: 30px;
        p {
            text-align: justify;
        }
    }
}

// ressources.php
#workinprogress {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

.cuisine {
    background-image: url(../../public/images/cuisine.jpg);
}

.salledebain {
    background-image: url(../../public/images/salledebain.jpg);
}

.bureau {
    background-image: url(../../public/images/bureau.jpg);
    background-position: center bottom;
}

.chambreenfant {
    background-image: url(../../public/images/chambreenfant.jpg);
}

.clickable {
    cursor: pointer;
}

.titlecontact {
    h3 {
        text-align: center;
        font-family: var(--secondfontfamily);
        font-size: 40px;
    }
}

.contactcontent {
    background-color: var(--primebackground);
    text-align: center;
    padding: 3%;
    p {
        color: white;
        font-family: var(--primfontfamily);
        font-size: var(--primefontsize);
        font-weight: var(--primeweight);
        a {
            font-size: var(--sizelink);
            color: var(--maincolor);
        }
    }
}

// cuisine

.cuisine_content {
    color: var(--maincolor);
    display: flex;
    flex-direction: column;
    font-family: var(--primfontfamily);
    align-items: center;
    justify-content: center;
    .apart {
        text-align: end;
        font-size: 18px;
    }
    .intro {
        padding: 0 5%;
        align-self: center;
        margin-bottom: 50px;
    }
    ul {
        list-style: none;
    }

    h3 {
        font-size: 35px;
        align-self: flex-start;
    }
    p {
        font-size: 20px;
        color: var(--maincolor);
    }
    a {
        font-size: var(--secondaryfontsize);
        color: black;
        text-decoration: none;
    }
}

.superflus_cuisine {
    padding: 5%;
}

.cuisinecontent {
    padding: 3% 0;
}

.cuisine_atelier {
    ul {
        list-style-image: url("../../public/images/flecherouge.png");
    }
    li {
        color: white;
        margin-bottom: 30px;
    }
    h3 {
        color: white;
    }
    background-color: var(--primebackground);
}
.lesateliers {
    padding: 3%;
    width: 60%;
    margin: 0 auto;
    border-radius: 15px;
    padding-bottom: 5%;
    h3 {
        text-align: center;
    }
}

.faireSescourses {
    color: white;
    background-color: var(--primebackground);
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin-bottom: 100px;
    p {
        color: white;
    }
}

.boxes_cuisine {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .boxcuisine {
        text-align: justify;
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 15px;
        width: 35%;
        background-color: white;
        margin-top: 50px;
        padding: 3%;
        min-width: 250px;
        justify-content: space-between;
        span {
            position: absolute;
            color: var(--maincolor);
            font-size: 35px;
            top: 10px;
            left: 20px;
        }
        p {
            color: var(--maincolor);
        }
        a {
            color: var(--primebackground);
            font-size: var(--sizelink);
        }
        .apart {
            text-align: justify;
            font-weight: 200;
            margin-bottom: 0;
        }
    }
    .BC_center {
        justify-content: center;
    }
}

.SOS_vracdebase {
    position: relative;
    width: 60%;
    min-width: 300px;
    padding: 5%;

    h2 {
        text-align: center;
        font-size: 30px;
    }
    ul {
        padding: 2%;
        list-style-type: disc;
    }
    li {
        font-size: 20px;
        margin-bottom: 20px;
    }
    p {
        font-weight: 200;
    }
}
.remplacer_cuisine_content {
    padding: 5%;
}
.remplacer,
.bee,
.dosette,
.produit_remplacer {
    padding: 5%;
    border: solid 1px var(--maincolor);
    border-radius: 80px;
    margin: 30px 0;
    li {
        font-weight: 300;
        margin-top: 40px;
    }
}

.remplacer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div {
        display: flex;
        flex-direction: column;
        width: 25%;
        img {
            width: 70%;
        }
    }
}

.les_restes,
.compostage {
    padding: 5%;
    background-color: var(--primebackground);
    color: white;
    p {
        color: white;
    }
}

.etleau {
    padding: 5%;
    a {
        color: var(--primebackground);
    }
}

.lesrestes_link {
    text-align: center;
}

.content_produit_remplacer {
    align-items: center;
}

.dosette {
    align-items: center;
}

.etleau_content {
    align-items: center;
}

// .compostage {
//     border-radius: 15px;
//     background-color: var(--primebackground);
//     padding: 3%;
//     div {
//         p {
//             padding: 0 2%;
//         }
//     }
// }

//salle de bain

.salledebaincontent {
    padding: 3% 5%;
    p {
        font-size: 25px;
    }
    .intro {
        text-align: center;
    }
}

.sdb_atelier {
    ul {
        list-style-image: url("../../public/images/flecherouge.png");
    }
    background-color: var(--secondbackground);
}

.container_sdb {
    position: relative;
}

.section_title_sdb {
    display: flex;
    margin: 60px auto;
    height: 160px;
    align-items: center;
    justify-content: center;
    h3 {
        z-index: 3;
    }
    img {
        z-index: 0;
        left: 500px;
        top: -4%;
        position: absolute;
        width: 25%;
    }
}

.card {
    padding: 2%;
    margin-bottom: 50px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid var(--secondbackground);
    border-radius: 30px;
    p {
        width: 30%;
    }
    img {
        width: 15%;
    }
}

.cosmetique {
    background-color: var(--secondbackground);
    border-radius: 30px;
    padding: 3%;
    h3 {
        margin: 0;
    }
    .diy {
        text-align: center;
        margin-top: 0;
        margin-bottom: 80px;
    }
}

//les enfants

.les_enfants {
    color: var(--maincolor);
    display: flex;
    flex-direction: column;
    font-family: var(--primfontfamily);
    align-items: center;
    justify-content: center;
    .intro {
        padding: 0 5%;
        align-self: center;
        margin-bottom: 5%;
    }
    ul {
        list-style: none;
    }

    h3 {
        font-size: 35px;
        align-self: flex-start;
    }
    p {
        font-size: 20px;
    }
    a {
        font-size: var(--secondaryfontsize);
        color: var(--primebackground);
        text-decoration: none;
    }
}
.ressources_info {
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    align-items: center;
}

.atelier_en_lien {
    ul {
        list-style-image: url("../../public/images/flecherouge.png");
    }
    background-color: var(--fourthbackground);
    padding: 7% 10%;
    border-radius: 80px;

    h3 {
        padding: 0;
        margin-top: 0;
        text-align: center;
    }
}
.enfants_lesfetes {
    width: 80%;
}
.boxes_lesfetes {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    a {
        text-decoration: none;
    }
}

.box_lesfetes {
    transition: 0.5s;
    color: white;
    background-color: var(--fourthbackground);
    padding: 60px;
    min-width: 100px;
    border-radius: 30px;
    text-align: center;
}

.box_lesfetes:hover {
    transform: rotate(10deg);
    transition: 0.5s;
}

.enfants_manuelles {
    margin-top: 50px;
    color: white;
    padding: 3%;
    a {
        text-decoration: none;
        color: var(--maincolor);
    }
    p {
        padding: 0 5%;
    }
}

//le bureau

.lebureau_content {
    color: var(--maincolor);
    display: flex;
    flex-direction: column;
    font-family: var(--primfontfamily);
    align-items: center;
    justify-content: center;
    sup {
        color: black;
    }
    .links {
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        p {
            font-size: 15px;
            color: var(--primebackground);
        }
    }
    .apart {
        text-align: end;
        font-size: 18px;
        a {
            color: black;
        }
    }
    .intro {
        padding: 0 5%;
        align-self: center;
        margin-bottom: 50px;
    }
    ul {
        list-style: none;
    }

    h3 {
        font-size: 35px;
        align-self: flex-start;
    }
    p {
        font-size: 20px;
        color: var(--maincolor);
    }
    a {
        font-size: var(--secondaryfontsize);
        color: black;
        text-decoration: none;
    }
    .atelier_en_lien {
        width: 60%;
        background-color: var(--fifthbackground);
        padding: 7% 10%;
        border-radius: 80px;

        h3 {
            color: white;
            padding: 0;
            margin-top: 0;
            text-align: center;
        }
        p {
            color: white;
        }
    }
    .attention_bureau {
        padding: 5%;
        p {
            text-align: justify;
            color: var(--maincolor);
            margin: 5% 0;

            a {
                color: var(--primebackground);
            }
        }
        .apart {
            text-align: end;
        }
    }
    .reflex_bureau {
        color: white;
        background-color: var(--fifthbackground);
        padding: 5%;
        text-align: justify;

        p {
            color: white;
            margin: 5% 0;
        }
        a {
            color: black;
        }
    }

    .reflex_list_bureau {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .tuto_bureau {
        display: flex;
        flex-direction: row;
    }
    .stop_pub {
        padding: 5%;
        a {
            color: var(--primebackground);
        }
    }
    .que_faire_bureau {
        color: white;
        padding: 5%;
        width: 90%;
        background-color: var(--fifthbackground);
        p {
            color: white;
        }
        a {
            color: black;
        }
    }
}

// ____________________________backoffice
.bottomform{
    padding-bottom: 10%;
}

.home_text{
    font-family: var(--primfontfamily);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    .userbutton{
        color: white;
        font-family: var(--primfontfamily);
        font-size: 20px;
        border-radius: 20px;
        padding: 10px 25px;
        border: none;
        background-color: var(--primebackground);
    }
}
.home_container{
    height: 45vh;
}

.normalbutton{
    color: white;
    font-family: var(--primfontfamily);
    font-size: 15px;
    border-radius: 20px;
    padding: 10px 15px;
    border: none;
    background-color: var(--primebackground);
}

.adminbutton{
    color: white;
    width: 90%;
    font-family: var(--primfontfamily);
    font-size: 20px;
    border-radius: 20px;
    padding: 10px 15px;
    border: none;
    background-color: var(--secondbackground);
}


.excentersupprbutton{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.backoffice_borderleft{
    border-left:solid 2px var(--maincolor);
}

//__________ event create //
label {
    font-family: var(--primfontfamily);
}
input::placeholder {
    font-family: var(--primfontfamily);
}
textarea::placeholder {
    font-family: var(--primfontfamily);
}
.form_event_relativ{
position: relative;
    i {
        position: absolute;
        top: 0px;
        right: 30px;
}

}
.background_event_create {
    background-color: white;
    border-radius: 25px;
    position: relative;
    padding-bottom: 2%;


    button {
        display: block;
        margin: 30px auto;
        background-color: var(--primebackground);
        color: white;
        height: 40px;
        border-radius: 15px;
        padding: 0 30px;
        border: none;
    }
}
.event_create {
    padding: 5%;
    background-color: var(--primebackground);
    width: 70%;
    margin: 0 auto;
    border-radius: 25px;
    box-shadow: 3px -1px 15px -2px rgba(0, 0, 0, 0.1);
}
.event_create_container {
    border-radius: 25px;
    background-color: white;
    button {
        background-color: var(--primebackground);
        border-radius: 25px;
        color: rgb(0, 0, 0);
    }
}
.topsection_animation_creation {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 3;
    input {
        height: 60px;
        border-radius: 15px;
        border: solid 1px grey;
    }
}
.illustration_event {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        border-radius: 25px;
        width: 80%;
        border: solid 1px grey;
    }
}
.info_topsection_animation_creation {
    margin-bottom: 20px;
    justify-content: space-between;
    div {
        display: flex;
        flex-direction: column;
    }
    .input_titre {
        width: 300px;
    }

    #city,
    #location {
        width: 50%;
    }
}

.description_event {
    width: 80%;
    margin: 0 auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    textarea {
        height: 300px;
        border-radius: 25px;
        padding: 10px;
    }
}

.radio_event_create {
    width: 100%;
    margin: 30px;
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.listmateriel {
    display: flex;
    justify-content: center;
}
#listmateriel {
    padding: 2%;
    width: 70%;

    height: 150px;
}
//__________ event_index

.index_vue_page{
    display: flex;
    min-height: 500px;


}



.index_vue_panel{
    margin-top: -50px;

    width: 390px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 2%;

    .button_controller{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 250px;
        a{
            width: 100%;
            display:flex;
            justify-content: center;
        }
    .animbutton{
        margin-bottom: 30px;
        color: white;
        width: 90%;
        font-family: var(--primfontfamily);
        font-size: 20px;
        border-radius: 20px;
        padding: 10px 15px;
        margin-bottom: 20px;
        border: none;
        background-color: var(--fourthbackground);
    }
    .userbutton {
        color: white;
        width: 90%;
        font-family: var(--primfontfamily);
        font-size: 20px;
        border-radius: 20px;
        padding: 10px 15px;
        border: none;
        background-color: var(--primebackground);
        margin-bottom: 20px;
    }
    }
}

.events {
    padding-left: 30px;
    color: var(--maincolor);
    font-family: var(--primfontfamily);
    font-size: 20px;
    border-left:solid 2px var(--maincolor);
}

.event_list {

    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.box_event {
    margin: 50px;
    width: 370px;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 0 25px 25px 25px;
    box-shadow: 3px -1px 15px -2px rgba(0, 0, 0, 0.1);
    padding: 2%;
    .infosection{
        height: 180px;
        p{
            text-overflow: ellipsis;
            -webkit-line-clamp: 4;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;

        }

    }
}

.top_event_section {
    overflow: hidden;
    justify-content: space-between;

    img {
        max-width: 150px;
        object-fit: contain;
    }
    h3 {
        padding: 0;
        margin: 0;
    }
    .rdvsection {
        text-align: end;
        width: 140px;
    }

}
.bot_event_section {
    display: flex;
    justify-content: flex-end;
    .adminoption {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        button {
            color: white;
            font-family: var(--primfontfamily);
            font-size: 15px;
            border-radius: 20px;
            padding: 10px 15px;
            border: none;
            background-color: var(--primebackground);
            margin-top: 20px;
        }
    }
}
//success create event

.success_create_event {
    display: flex;
    align-items: center;
    justify-content: center;

    .success_event_content {
        display: flex;
        flex-direction: column;
        width: 50%;
        font-family: var(--primfontfamily);
        font-size: 25px;
        border: solid 1px var(--primebackground);
        border-radius: 25px;
        padding: 5%;
        text-align: center;
    }
    .success_comeback {
        justify-content: space-between;
        padding-top: 3%;
        button {
            color: white;
            font-family: var(--primfontfamily);
            font-size: 20px;
            border-radius: 20px;
            padding: 15px;
            border: none;
            background-color: var(--primebackground);
        }
    }
}

// event vue
.container_event_vue {
    position: relative;
    color: var(--maincolor);
    font-family: var(--primfontfamily);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    .ifcomplete{
        padding: 0 60px;
    }
    img{
        height :  300px;
    }
    .event_vue_title {
        position: relative;
        width: 80%;
        h2 {
            color: var(--primebackground);
            font-size: 55px;
        }
    }

    .info_event_vue {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        //border: 1px solid var(--primebackground);
    }
    button,
    span {
        color: white;
        font-family: var(--primfontfamily);
        font-size: 20px;
        border-radius: 20px;
        padding: 15px;
        border: none;
        background-color: var(--primebackground);
    }
   #full{
        background-color: var(--fullspan);
    }
    #orange_span{
        background-color: var(--orangespan);
    }
    #yellow_span{
        background-color: var(--yellowspan);
    }
    .return_tolist {
        background-color: var(--fourthbackground);

        left: 0;
        top: 50px;
    }
}
.left_event_vue {
    text-align: start;
    width: 30%;
}
.right_event_vue {
    text-align: justify;
    width: 50%;
}
.inscription_event_vue {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
}

//panneau admin

.admincard{
        padding: 2%;
        margin-bottom: 20px;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid var(--secondbackground);
        border-radius: 15px;
}

.userinfos{
    display: flex;
    justify-content: space-around;
    width: 70%;
    font-family: var(--primfontfamily);
    font-size: 20px;
}

@media (max-width: 1700px) {
    #navbuton {
        font-size: 22px;
    }
    #navbuton2 {
        font-size: 13px;
    }
    .logo {
        padding: 2% 0 0 2%;
    }
}
@media (max-width: 1580px) {
    #logodrawresponsiv {
        height: 250px;
    }
    //.indexinscription {
    //  bottom: 50px;
    //  right: 25px;
    //}
    //.indexinscription {
    //  bottom: 100px;
    //}
}
@media (max-width: 1536px) {
    #p_responsiv {
        font-size: 20px;
        a {
            font-size: 20px;
        }
    }
}
@media (max-width: 1400px) {
    #navbuton {
        font-size: 20px;
    }

    #navbuton2 {
        font-size: 13px;
    }
    .nav__listitemdrop {
        top: 30px;
    }
    .logo {
        height: 60%;
    }
}
@media (max-width: 1400px) {
    #navbuton {
        font-size: 18px;
    }
    .youtube {
        height: 400px;
    }
    .nav__listitemdrop {
        top: 28px;
    }
    .atelier_produits {
        height: 500px;
    }
}
@media (max-width: 1393px) {
    #p_responsiv {
        margin-top: 0px;
    }
    .actusection {
        height: 500px;
    }
}
@media (max-width: 1304px) {
    .inscription {
        left: 10%;
    }
    .deficontent {
        margin: 0 auto;
        .leftside {
            width: 100%;
            .textdefi {
                width: 90%;
                display: block;
                margin: 0 auto;
            }
        }
        .rightsidedefi {
            margin: 0;
            padding: 0;
            width: 100%;
            .calsimple {
                display: block;
                margin: 0 auto;
            }
        }
    }
}
@media (max-width: 1250px) {
    .containertawashi {
        flex-direction: column;
        img {
            display: block;
            width: 30%;
            margin: 0 auto;
        }
        .texttawashi {
            width: 70%;
        }
    }
    .atelier_produits {
        height: 450px;
    }

    #logodrawresponsiv {
        height: 200px;
    }
    #drawmenu {
        min-height: 400px;
    }
    //.indexinscription {
    //  bottom: 40px;
    //  right: 0px;
    //}
}
@media (max-width: 1150px) {
    #nav {
        visibility: hidden;
    }
    #burgerlabel {
        visibility: visible;
    }
    .maintitlealter {
        visibility: visible;
    }
    input:checked ~ nav {
        top: 30px;
    }
    .youtube {
        height: 500px;
    }
    .colibri {
        flex-direction: column;
        align-items: center;
    }
    .atelier_produits {
        height: 400px;
    }
}
@media (max-width: 1010px) {
    .enbrefdefi {
        width: 80%;
        font-size: 18px;
    }
    .coin_defi {
        height: 30%;
        width: 15%;
    }
    .youtube {
        height: 300px;
    }
}
@media (max-width: 900px) {
    .billets {
        flex-direction: column;
    }
    .logo {
        padding: 6% 0 0 5%;
    }
    .actusection {
        height: 550px;
    }
    #drawmenu {
        padding: 0 10%;

        flex-wrap: wrap;
        #actudraw,
        #astucesdraw,
        #contactdraw {
            align-self: baseline;
        }
    }
    .introastuce {
        text-align: justify;
        margin-bottom: 50px;
    }
    .titrecarte,
    .bande h2 {
        font-size: 30px;
    }
    #slogancontent {
        padding: 7%;
    }

    .maintitle {
        height: 80%;
        align-items: center;
        h1 {
            font-size: 40px;
        }
    }
    .maintitlealter {
        h1 {
            font-size: 40px;
        }
    }
}
//.indexinscription {
//  bottom: -10px;
//  left: -4px;
//}

@media (max-width: 821px) {
    .topofpage_produits {
        flex-direction: column;
        .intro_produits {
            width: 70%;
        }
        .atelier_produits {
            font-size: 18px;
            width: 100%;
            li {
                font-size: 15px;
            }
        }
    }
    .atelier_produits {
        height: 500px;
    }
    .article {
        width: 90%;
    }

    .pageactucontent {
        .articlecontent {
            h2 {
                font-size: 20px;
            }
        }
    }

    .youtube {
        height: 400px;
    }
    #soustitre {
        font-size: 20px;
    }
}
@media (max-width: 770px) {
    .intro_produits {
        font-size: 20px;
    }
    #p_responsiv {
        font-size: 16px;
    }
    .pageactucontent {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    #burgerlabel {
        right: 70px;
    }
    #pict {
        height: 60%;
    }
    .actusection {
        height: 700px;
    }
    .defiopening {
        height: 650px;
    }

    .logodefinav {
        margin-top: -30px;
    }
}
@media (max-width: 710px) {
    .coin_defi {
        height: 20%;
        width: 15%;
    }

    .texteprincipal {
        text-align: justify;
    }
    .youtube {
        height: 300px;
    }
}
@media (max-width: 683px) {
    .titrecarte {
        font-size: 20px;
    }
    .logo {
        padding: 7% 0 3% 5%;
    }
    #accueilsetup {
        margin: 0;
    }
    #burgerlabel {
        right: 100px;
    }
    .maintitlealter {
        margin-top: -130px;
        h1 {
            font-size: 25px;
        }
    }
    .title {
        h2 {
            margin-left: 0;
            font-size: 20px;
        }
    }
}
@media (max-width: 600px) {
    .logo {
        padding: 5% 0 3% 5%;
    }
    .calsimple {
        width: 450px;
        margin-left: 20px !important;
    }
    .youtube {
        height: 250px;
    }
    .actusection {
        height: 800px;
    }
    .header {
        height: 178px;
    }
    .maintitle {
        height: 100%;
    }
    .maintitlealter {
        margin-top: -100px;
    }
    #burgerlabel {
        top: 140px;
        right: 120px;
    }
    input:checked ~ nav {
        top: 92px;
        width: 85%;
    }
    input:checked ~ nav > ul {
        right: 86px;
    }
    input:checked ~ nav {
        width: 54%;
    }
    .logo {
        height: 80%;
    }
    .inscription {
        top: 15px;
        left: 30px;
    }
}
@media (max-width: 530px) {
    .maintitle {
        h1 {
            text-align: center;
            font-size: 30px;
        }
    }
    .colibri {
        .explicolibri {
            padding: 12% 10%;
        }
    }
}
@media (max-width: 526px) {
    .topofpage_produits {
        flex-direction: column;
        .intro_produits {
            width: 70%;
        }
        .atelier_produits {
            font-size: 12px;
            width: 100%;
        }
    }
    @media (max-width: 400px) {
        .maintitlealter {
            h1 {
                font-size: 20px;
            }
        }
        .title {
            font-size: 15px;
        }
        #burgerlabel {
            right: 130px;
        }
    }
    #drawmenu {
        flex-direction: column;
        flex-wrap: unset;
        align-items: center;

        #actudraw,
        #astucesdraw,
        #contactdraw {
            align-self: center;
        }
    }
    #logodrawresponsiv {
        height: auto;
        width: auto;
    }
    #logodrawresponsiv {
        height: 160px;
    }
    //.indexinscription {
    //  bottom: -45px;
    //  left: -20px;
    //}
}

@media (max-width: 750px) {
    .pageactucontent {
        .pict {
            height: 30%;
        }
    }
}

@media (max-width: 821px) {
    .seemore {
        p {
            margin-right: 15px;
        }
        .arrow {
            margin-right: 40px;
        }
    }
}

.biggeractusection {
    transition-duration: 1s;

    height: unset;
    padding: 100px 0;
}

.container-wrapper-genially {
    position: relative;
    min-height: 400px;
    max-width: 100%;
}

.loader-genially {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    margin-bottom: 10%;
}

.genially-embed {
    margin: 0px auto;
    position: relative;
    height: auto;
    width: 100%;
}

.genially2 {
    div {
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 0;
        height: auto;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.newsletter {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 100vh;
}
// @media (max-width: 500px) {
//     .newsletter {
//         width: 70%;
//     }
// }
.user_profil_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4%;
    div {
        font-family: var(--primfontfamily);
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        input {
            font-family: var(--primfontfamily);
            height: 30px;
            width: 250px;
            padding: 10px 20px;
            border-radius: 10px;
            border: solid var(--maincolor) 1px;
        }
    }
}


